@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: aliceblue;
    font-size: 1rem;
}



h3 {
   display: flex;
   justify-content: right;
   align-items: flex-end;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 40%;
    height: 80vh;
    background-color: #F2F1F2;
    margin-left: 25%;

}

button{
    background-color: #F2F1F2;
    font-size: 2.5rem;
    

}

.total {
    background-color: #138808;
    color: #fff;
}

.clear {
    color: orangered;
}

.byHunnid,
.bracket,
.divide,
.multiply,
.minus,
.add {
    color: #138808;
}

